html,
body {
    height: 100%;
}

body {
    background-color: #dcebf1;
    position: relative;
}

a {
    &:hover {
        text-decoration: underline;
    }
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.header {
    line-height: 45px;
    background-color: #fff;
    .logo{
        padding: 0 10px;
    }
}


.main {
    padding: 20px 0;
    width: 1200px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    top: 45px;
    bottom: 40px;

    .uploadbox {
        height: 166px;
        width: 399px;
        border: 1px dashed #616778;
        margin: 0 auto;
        border-radius: 12px;
        position: relative;
    }

    .icon {
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            display: block;
            width: 40px;
        }
    }

    .prompt {
        position: absolute;
        width: 98%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
            color: #666;
            line-height: 24px;
            text-align: center;
        }

        p:first-child {
            font-size: 14px;
            font-weight: 800;
            color: #40444f;
        }
    }

    .resultbox {
        display: none;
        position: absolute;
        top: 220px;
        bottom: 30px;
        left: 50%;
        width: 914px;
        margin-left: -440px;

        .totalprogress {
            line-height: 40px;
            font-size: 1.1em;
            background-color: #fff;
            border-radius: 5px;
            padding: 0 14px;
            border: 1px solid #bbcbd0;

            &>div {
                display: inline-block;
                vertical-align: middle;
            }
            .progress-wrap{

            }
            .filescount{
                margin-right: 12px;
            }
            .filesstatus{
                margin-right: 12px;
            }
            .ctrl{

            }
            a{
                color: #363a43;
                font-weight: bold;
            }
        }

        .resultbox-wrap {
            position: absolute;
            top: 54px;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 6px;
            
            overflow-y: auto;
            border: 1px solid #bbcbd0;
            background-color: #fff;
        }

        ul {
            
            padding: 10px 14px;
            
        }

        li {
            margin-bottom: 20px;
            padding: 6px 8px;
            border-radius: 5px;
            border: 1px solid #cfdbde;
            background-color: #f0f0f0;
            line-height: 50px;

            &:hover {
                background-color: #ddd;
            }

            &>div {
                display: inline-block;

                &>div {
                    display: inline-block;
                    vertical-align: middle;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }

        .left {
            width: 36%;

            .img-wrap {
                width: 60px;
                height: 60px;
                margin-right: 18px;
                position: relative;
                overflow: hidden;
                border-radius: 5px;

                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    width: auto;
                    height: 100%;
                }
            }

            .filename {
                width: 120px;
                margin-right: 20px;
            }

            .uploadsize {
                width: 80px;
            }
        }

        .center {
            width: 30%;
            text-align: center;

            .progress-wrap {
                width: 90%;
                padding: 3px 4px;
                background-color: #fff;
                height: 18px;
                border-radius: 36px;
                position: relative;
            }

            .progress-line {
                background-color: #92ed14;
                height: 18px;
                display: block;
                border-radius: 36px;
                width: 0%;
            }

            .progress-per{
                color: #40444f;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                line-height: 22px;
            }

            .progress-error {
                color: red;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                line-height: 22px;
            }
        }

        .right {
            display: none;
            .outputsize {
                width: 80px;
                margin-right: 6px;
            }

            .ctrl {
                width: 136px;
                margin-right: 20px;

                a {
                    color: #363a43;
                    display: inline;
                    font-weight: bold;
                    margin: 0 5px;
                }
            }
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #40444f;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #788287;
}